<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qy.pojo.Order">
        <id column="id" property="id"/>
        <result column="member_id" property="memberId"/>
        <result column="orderDate" property="orderDate"/>
        <result column="orderType" property="orderType"/>
        <result column="orderStatus" property="orderStatus"/>
        <result column="setmeal_id" property="setmealId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_id, orderDate, orderType, orderStatus, setmeal_id
    </sql>

    <!--根据预约id查询预约信息，包括体检人信息、套餐信息-->
    <select id="findById4Detail" parameterType="int" resultType="map">
        select m.name dbname,s.name meal,o.orderDate ,o.orderType
            from
            t_order o,
            t_member m,
            t_setmeal s
        where o.member_id=m.id and o.setmeal_id=s.id and o.id=#{id}
</select>

    <!--根据日期统计预约数-->
    <select id="findOrderCountByDate" parameterType="string" resultType="int">
        select count(id) from t_order where orderDate = STR_TO_DATE(#{value},"%Y-%m-%d")
    </select>

    <!--根据日期统计预约数，统计指定日期之后的预约数-->
    <select id="findOrderCountAfterDate" parameterType="string" resultType="int">
        select count(id) from t_order where orderDate &gt;= STR_TO_DATE(#{value},"%Y-%m-%d")
    </select>

    <!--根据日期统计到诊数-->
    <select id="findVisitsCountByDate" parameterType="string" resultType="int">
        select count(id) from t_order where orderDate = STR_TO_DATE(#{value},"%Y-%m-%d") and orderStatus = '已到诊'
    </select>

    <!--根据日期统计到诊数，统计指定日期之后的到诊数-->
    <select id="findVisitsCountAfterDate" parameterType="string" resultType="int">
        select count(id) from t_order where orderDate &gt;= STR_TO_DATE(#{value},"%Y-%m-%d") and orderStatus = '已到诊'
    </select>

    <!--热门套餐，查询前4条-->
    <select id="findHotSetmeal" resultType="map">
        select
            s.name,
            count(o.id) setmeal_count ,
            count(o.id)/(select count(id) from t_order) proportion
        from t_order o inner join t_setmeal s on s.id = o.setmeal_id
    group by o.setmeal_id
    order by setmeal_count desc
  	limit 0,4
    </select>

</mapper>
