<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qy.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qy.pojo.User">
        <id column="id" property="id" />
        <result column="birthday" property="birthday" />
        <result column="gender" property="gender" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="remark" property="remark" />
        <result column="station" property="station" />
        <result column="telephone" property="telephone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, birthday, gender, username, password, remark, station, telephone
    </sql>

    <!--通过用户名查询用户信息-->
    <select id="findByUsername"
            parameterType="string"
            resultType="com.qy.pojo.User">
        select * from t_user where username = #{username}
    </select>

</mapper>
